= render "/diaries/header"
.Target
  .Target__content
    %p.Target__content__text 目標作成
    %span.Target__content__target Write your goals
    = form_with(model: @target, local: true )do |f|
      .Target__content__fild
      =f.text_area :target, class:"target-text", placeholder:"目標を記入"
      .Target__content__submit
      = f.submit "登　録", class:"submit"