= render "header"
.Notebook
  .Notebook__content 
    %p.Notebook__content__text Daily Planner
    = form_with local: true do |f|
      .Notebook__content__priority 
        %p.Notebook__content__priority--text Priority
        .Notebook__content__priority--number
          .number_field
          -# = @diary.hoge1
      .Notebook__content__taskbox
        %p.Notebook__content__taskbox--text Task Box
        .Notebook__content__taskbox--field
          .text_fild
          -# = @diary.hoge1
      .Notebook__content__diary
        %p.Notebook__content__diary--text Diary
        .Notebook__content__diary--field
          .diary-text
          -# = @diary.hoge
      .Notebook__content__date
        .date
        -# = @daiary.hoge
        .Notebook__content__date__submit
          = link_to '編　集', edit_diary_path,method: :get,class:"edit-btn"
          %span or
          = link_to '削　除', "#",class:"dalete-btn"
