.edit{
  padding: 10px;
  width: 100px;
  background-color:#9966FF;
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
  text-decoration: none;
  border-radius: 10%;
  font-family: 'Amatic SC', cursive;
}

.dalete{
  padding: 10px;
  width: 100px;
  background-color:#9966FF;
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
  text-decoration: none;
  border-radius: 10%;
  font-family: 'Amatic SC', cursive;
}

