* {
  box-sizing: border-box;
}
.Header{
  width:100%;
  background-color:rgba(10,20,52,0.9);
  position:fixed;
  top:0;
  z-index:10;
  .Container{
    height:75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    .header-left{
      font-size: 30px;
      padding-left: 30px;
      font-family:'Amatic SC', cursive;
    }
    .header-right{
      &:hover{
        background-color: rgba(252, 92, 0, 0.815);
      }
      color: white;
      text-decoration: none;
      margin-right: 30px;
      transition: all 1s;
      font-size: 15px;
      padding:24px;
    }
  }
}
.Main{
  &__image{
    height: 1100px;
    background-image: image-url('IMG_1573.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    &--text{
      font-size: 30px;
      color: white;
      position: absolute;
      right: 30px;
      top:100px;
      font-weight: bold;
      &--nickname{
        text-decoration: none;
        color: white;
        font-size: 40px;
      }
    }
  }
}
.Primary{
  background-color: #f8f8f8;
  &__box{
    display: flex;
    padding: 15vh 15vw;
    width: 100vw;
    &__target{
      font-size: 30px;
      &--text{
        font-size: 20px;
        margin: 0 10px;
        padding: 30px 30px;
      }
      &--link{
        text-decoration: none;
      }
      &--btn{
        color: white;
        margin:15px 15px 15px 15px;
        padding:15px 40px;
        background-color: #9966FF	;
        cursor: pointer;
        box-shadow: 0 7px purple	;
        border-radius: 10%;
      }
      &--btn:active{
        position: relative;
        top: 7px;
        box-shadow: none;
      }
    }
  }
  &__block{
    background-color:#EEEEEE;
    padding: 15vh 15vw; 
    &__diary{
      font-family: 'Amatic SC', cursive;
      text-align: center;
      font-size: 30px;
      border-bottom:double ;
      border-color: #FF0000;
      border-width: 3px;
      &--list{
        text-align: center;
        padding: 50px 0;
        .list{
          padding: 20px;
        }
      }
    }
  }
}
.Footer{
  height: 100px;
  background-color:rgba(17, 172, 233, 0.39);
  &__text{
    padding: 30px;
    color: white;
    align-items: center;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.Diary{
  width: 120px;
  background: white;
  opacity: 0.9;
  text-align: center;
  border-radius: 10%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text{
    color: rgba(10,20,52,0.9);
    display: block;
    font-weight: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__image{
    width: 60%;
  }
}